/* PX TO REM

16px = 1rem
12px = 0.875rem
18px = 1.125
24px = 1.5rem

 */
body {
  font-family: 'Playfair Display', serif;
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

a:hover {
  color: red;
}

p {
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* TÍTULOS DE CADA SECCIÓN DEL DOCUMENTO */
.titulos {
  font-weight: bold;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.contenedor {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* PORTADA */
.seccion1 {
  text-align: center;
  margin-top: 3rem;
}

.nombre {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.small {
  font-size: 0.8rem;
  line-height: 1.1rem
}

.logouis img {
  width: 10rem;
}

.logouis {
  margin-top: 10rem;
  text-align: center;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}