/* PX TO REM

16px = 1rem
12px = 0.875rem
18px = 1.125
24px = 1.5rem

 */
body {
  font-family: 'Montserrat', sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ED5C4D;
}

a:hover {
  color: #FBBE4B;
}

p {
  text-align: justify !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
}
dd{
  text-align: justify !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
}

ul {
  text-align: justify !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
}

ol {
  text-align: justify !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* TÍTULOS DE CADA SECCIÓN DEL DOCUMENTO */
.titulos {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  display: block;
  padding: 0;
  background-color: #eff0f2;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.subtitulos {
  font-weight: bold;
  text-align: left;
  font-size: 13px;
}

.subs {
  text-align: center !important;
  font-size: 9px;
  display: block;
  font-style: italic;
}

.contenedor {
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 11rem;
  margin-right: 11rem;
}

.diagrama h2 {
  margin-bottom: 4rem;
}

.diagrama2 h2 {
  margin-bottom: 4rem;
}

/* PORTADA */
.seccion1 {
  text-align: center;
  margin-top: 3rem;
}

.nombre {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.small {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.imagen {
  margin-top: 2rem;
  text-align: center;
}
.tablas {
  margin-top: 1rem;
  text-align: center;
}
.tablas img {
  width: 25rem;
}

.imagen img {
  width: 35rem;
}

.logouis {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 2rem;
}

.logouis img {
  width: 20rem;
}

.diagrama {
  text-align: center;
}

.diagrama2 {
  text-align: center;
}


/* RESPONSIVE TEXT ON DEVICES */

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .contenedor {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .logouis img {
    width: 15rem;
  }
  .imagen img {
    width: 25rem;
  }
}

@media (min-width: 600px) {
  .contenedor {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .imagen img {
    width: 30rem;
  }
}

@media (min-width: 768px) {
  .contenedor {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .imagen img {
    width: 40rem;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
